{% extends "tim_app/layouts/main.html" %}
{% block title %}Media{% endblock %}
{% block content %}
    <div class="container media-page">
        <h1 class="title">Media</h1>

        <div class="columns">
            <div class="column">
                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/788660995&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=438b7e"></iframe>
            </div>
            <div class="column">
                <h4><q>He was despised</q> from <i>Messiah</i> - G.F. Handel</h4>
                <p>Tim Keeler, countertenor</p>
                <p>University of Maryland Symphony Orchestra<br>College Park, MD<br>December 8, 2019</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/329818228&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=438b7e"></iframe>
            </div>
            <div class="column">
                <h4><q>Agnus Dei</q> from <i>Mass in B Minor</i> - J.S. Bach</h4>
                <p>Tim Keeler, countertenor</p>
                <p>Audivi<br>Birmingham, MI<br>June 3, 2017</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/317347232&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=438b7e"></iframe>
            </div>
            <div class="column">
                <h4><i>Canticle II: Abraham and Isaac</i> - Benjamin Britten</h4>
                <p>Tim Keeler, countertenor <br> Nate Hodgson, tenor</p>
                <p>Bach Vespers<br>Holy Trinity Lutheran Church, NYC<br>April 2, 2017</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297630893&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=438b7e"></iframe>
            </div>
            <div class="column">
                <h4><i>Christi Glieder, ach bedenket</i> - J.S. Bach, BWV 132</h4>
                <p>Tim Keeler, countertenor</p>
                <p>Bach Vespers<br>Holy Trinity Lutheran Church, NYC<br>December 4, 2016</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/258628360&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=438b7e"></iframe>
            </div>
            <div class="column">
                <h4><i>Erstanden ist der heilige Christ</i> - Nicolaus Bruhns</h4>
                <p>Tim Keeler, countertenor<br>Elizabeth Baber-Weaver, soprano</p>
                <p>Bach Vespers<br>Holy Trinity Lutheran Church, NYC<br>April 10, 2016</p>
            </div>
        </div>

        
    </div>
{% endblock %}
