{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="{% static 'favicon.ico' %}">

<meta name="author" content="Tim Keeler">

<link href="{% static 'vendor/vendor.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'tim_app/tim.css' %}" rel="stylesheet" type="text/css">

{% if not DEBUG %}
    {% include 'tim_app/partials/analytics.html' %}
{% endif %}
