{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tim Keeler - {% block title %}Conductor, Countertenor{% endblock %}</title>
    <meta name="description" content="{% block description %}Tim Keeler is a countertenor and conductor based in Washington, DC. He is currently pursuing a DMA at the University of Maryland.{% endblock %}">
    {% include 'tim_app/partials/header.html' %}
</head>
<body>
{% include 'tim_app/partials/navbar.html' %}
{% block content %}
{% endblock %}
{% include 'tim_app/partials/footer.html' %}

<script type="text/javascript" src="{% static "tim_app/tim.js" %}"></script>
{% block extrascripts %}
{% endblock %}
</body>
</html>
